.projectsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px 60px 20px 60px;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 50px;
    }
}

.projectsContent {
    width: 100%;
}

.menuProjects {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    flex-wrap: wrap;
}

.gridContainer {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2D2D39;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.btnProject {
    width: 200px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #20202A;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 25px;
    &:hover {
        filter:brightness(140%);
    }
    &:active {
        transform: translateY(4px);
      }
}

.boxPortofolio {
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .slideBox {

        height: 0%;
        width: 100%;
        background-color: #22222E;
        transition-delay: 0.125s;
        transition-duration: 625ms;
        z-index: 2;
        padding: 40px;
        opacity: 0;
        overflow-y: hidden;
        h3{
            font-size: 35px;
            margin-bottom: 20px;
        }
        p {
            font-size: 20px;
            margin-bottom: 40px;
        }
        a {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            text-decoration: none; 
            font-size: 20px;
            font-weight: bold;
            transition-delay: 0.125s;
            transition-duration: 625ms;
            span {
                margin-left: 10px;
                transition-delay: 0.125s;
                transition-duration: 625ms;
            }
            &:hover {
                filter: brightness(120%);
                span {
                    margin-left: 30px;
                    transition-delay: 0.125s;
                    transition-duration: 625ms;
                }
            }
        }
    }

    .testImg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    &:hover {
        .testImg {
            filter: brightness(110%);
        }
        .slideBox {
            opacity: 1;
            height: 65%;
        }
    }

}

@media only screen and (max-width: 1600px)
{
    .gridContainer {
        grid-template-columns: 1fr 1fr;
    }
} 

@media only screen and (max-width: 1240px)
{

    .gridContainer {
        grid-template-columns: 1fr;
    }
} 

@media only screen and (max-width: 620px)
{
    .gridContainer {
        row-gap: 30px;
        padding: 20px;
    }

    .btnProject {
        width: 160px;
        height: 50px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        background-color: #20202A;
        color: white;
        cursor: pointer;
        margin-top: 25px;
        &:hover {
            filter:brightness(120%);
        }
    }
} 

@media only screen and (max-width: 440px)
{
    .gridContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .boxPortofolio {
        width:   100%;
        height: 250px;
        .slideBox {
            padding: 15px;

            h3{
                font-size: 25px;
                margin-bottom: 20px;
            }
            p {
                font-size: 15px;
                margin-bottom: 20px;
            }
            a {
                margin-top: 10px;
                font-size: 15px;
            }
        }
        &:hover {
            .slideBox {
                height: 100%;
            }
        }
    }

    .projectsContainer {
        padding: 20px 15px 20px 15px;
        h1 {
            font-size: 35px;
        }
    }

    .menuProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} 