@import '../../variables';

.menuOn {
    display: flex;
    width: 280px;
    height: 100%;
    position: fixed;
    transition-delay: 100ms;
    transition-duration: 0.5s;
    z-index: 100000001 !important;
}

.menuOff {
    display: flex;
    width: 280px;
    height: 100%;
    position: fixed;
    transition-delay: 100ms;
    transition-duration: 0.5s;
    z-index: 100000001 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menuProfileOn {
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-delay: 100ms;
    transition-duration: 0.5s;
    z-index: 100000001 !important;
}

.menuProfileOff {
    width: 280px;
    height: 100%;
    display: flex;
    transition-delay: 100ms;
    transition-duration: 0.5s;
    flex-direction: column;
}

.imageAvatar {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
    background-image: url('../images/avatar.jpg'); 
    background-position: initial;
    background-size: cover;
    position: relative;
}

.settingsContainer {
    width: 15%;
    height: 50px;
    padding-left: 15px;
    padding-bottom: 20px;   // change the shape of colors, square 10px , 20px cilindric
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    bottom: 0;
    div {
        display: none;
    }

    &:hover {
        transition: width 1s;
        transition-timing-function: linear;
        width: 90%;
        div {
            animation: fadeinout 3s linear forwards;
            cursor: pointer;
            width: 16%;
            height: 80%;
            display: block;
            border-radius: 10px;
            &:hover {
               filter:brightness(120%);
            }
            @keyframes fadeinout {
                0% { opacity: 0; }
                45% { opacity: 1; }
              }
        }
    }
}

.hoverImageContainer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .hoverImageBox {
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 50%;
        height: 50%;
        background-color:#68666691;
    }
    &:hover {
        .hoverImageBox {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
            &:hover {
                opacity: 70%;
            }
        }
    }
}

.cicle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    bottom: 8px;
    right: 0;
    position: absolute;
    z-index: 10;
    .textPulse { 
        display: none;
        padding: 0 15px 0 25px;
        width: 160px;
        color: white;
    }
    &:hover {
        .textPulse {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            color: #58585E;
        }
    }
}

.textPulseContent {
    background-color: #191923;
    border-radius: 10px;
    padding: 8px;
}

.pulse {
    border-radius: 50%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
    animation: pulse 1250ms infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.avatarProfile {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23232ef5;
    position: absolute;
    z-index: 2;
    transition-delay: 200ms;
    transition-duration: 1s;
}

.emptyBox {
    width:20%;
    height: 280px;
}

.hideScrollBar {
    height: 95%;
    background-color: $contentColor;
    overflow: hidden;
    position: relative;
}

.contentProfile {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1.15vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 30px 20px 20px;
}

.textBarContainer {
    margin: 15px 0 20px 0;
}

.linkProfile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7%;
    background-color: $mainBgColor;
}

.lineMenu {
    margin: 20px 0 25px 0;
    height: 1px;
    background-color: #303039;
}

.circleContent {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.circleContainerBox { 
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modalImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 222222222 !important;
}

.modalMenuContent{
    width: 98%;
    height: 98%;
    background-color: #20202ae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.modalMenuImage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #2A2A35;
    border-radius: 20px 20px 0 0;
    .iconHover {
        opacity: 50%;
        &:hover {
            opacity: 100%;
        }
    }
}

.biggerImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biggerImageContent {
    width: 40%;
    height: 80%;
    background-image: url('../images/avatar.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.625s;
    cursor: zoom-in;
    &:active {
        width: 100%;
        height: 100%;
        cursor: zoom-out;
        transform:scale(1);
        transition-duration: 0.625s;
    }
}

.menuMobileDots {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 15;
    cursor: pointer;
    z-index: 10000 !important;
    &:hover {
        opacity: 50%;
        animation: roll 1.5s infinite;
        transform: rotate(180deg);
    }
    @keyframes roll {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

.dotAppear {
    display: none;
}

@media only screen and (max-width: 1437px)
{
    .contentProfile {
        right: -17px;
    }
}

@media only screen and (max-width: 920px)
{
    .dotAppear {
        z-index: 100000001 !important;
        display: flex;
    }

    .menuOn{
        width: 60px;
    }

    .menuProfileOn {
        display: none;
    }
} 