.mainContainerWelcome {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeSign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 15px 0 30px 0;
    background-image: url("../images/BGG.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(5% 0, 100% 0%, 94% 100%, 0% 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.yearsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px 20px 20px 20px;
}

.boxYears {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.columnService {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.boxService {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.boxRowService {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 35vh;
    margin: 20px;
    padding: 20px;
    background-color: #2C2C38;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footerWelcome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2B2B36;
    color: #57575E;
    padding: 15px 60px 15px 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.welcomeTitle {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 0 40px 0 40px;
}

.codeTextTest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 15px;
}

.codeText {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 0 10px 0;
}

.btnExplore {
    color: black;
    border-radius: 25px;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    font-size: 17px;
    &:hover {
        opacity: 90%;
    }
    &:active {
        transform: translateY(4px);
      }
}

@media only screen and (max-width: 1471px)
{
    .welcomeTitle {
        font-size: 45px;
    }
    .welcomeSign {
        width: 90%;
    }
    .codeText {
        font-size: 26px;
        width: 90%;
    }
} 

@media only screen and (max-width: 1150px)
{
    .welcomeTitle {
        font-size: 40px;
    }
    .welcomeSign {
        width: 100%;
    }
    .codeText {
        font-size: 26px;
        text-align: center;
        width: 60%;
    }
} 

@media only screen and (max-width: 941px)
{
    .welcomeTitle {
        font-size: 35px;
    }
    .codeText {
        font-size: 26px;
        text-align: center;
        width: 60%;
    }
} 

@media only screen and (max-width: 920px)
{
    .welcomeTitle {
        font-size: 35px;
    }
    .codeText {
        font-size: 26px;
        text-align: center;
        width: 65%;
    }
} 

@media only screen and (max-width: 732px)
{
    .welcomeTitle {
        font-size: 30px;
    }
    .codeText {
        font-size: 26px;
        text-align: center;
        width: 65%;
    }
    .btnExplore {

        width: 150px;
        height: 45px;
        font-size: 17px;

    }
} 
@media only screen and (max-width: 658px)
{
    .footerWelcome {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 0 60px 0 60px;
        p {
            padding: 10px 0px 10px 0px;
        }
    }
} 

@media only screen and (max-width: 510px)
{
    .boxRowService {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0px 0px 30px 0px;
        padding: 20px;
        background-color: #2C2C38;
    }
} 